@using Entity;
@model IEnumerable<ClientModel>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Clientes</title>
</head>
<body>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateInserted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateInserted)
            </td>
            <td>
                @if(item.Active.Value){ <text>Activo</text> }else{<text>Inactivo</text> }
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new {  id=item.ClientId }) |
                @Html.ActionLink("Eliminar", "Delete", new {  id=item.ClientId })
            </td>
        </tr>
}
    </tbody>
</table>
</body>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</html>

